 body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9ddd06ea;
    margin: 0;
   
    
}

.clock-container {
     background-color: #333; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(50, 6, 131, 0.979);
    text-align: center;
    font-family: 'Quicksand', 'Helvetica', Arial, sans-serif;
    font-weight: lighter;

   

}

   


#time {
    font-size: 48px;
    color: #0e77e0;
    font-weight: bold;

    
}

#date {
    font-size: 24px;
    color: #d85509;
    margin-top: 10px;
}

